/* Fixes shorts thumbnails */
.ytLrTileHeaderRendererShorts {
  z-index: -1;
}

/**
 * Dirty hack to fix offset <video> on shorts on older webOS versions.
 * This shouldn't work but it does 😵‍💫.
 * See webosbrew/youtube-webos/pull/235 for insanity.
 */
.WEB_PAGE_TYPE_SHORTS video {
  border: black 1px solid;
  /* Smallest transparent image */
  border-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7')
    30%;
}
